<div id='main-table'>
  <table class='table table-striped table-hover table-condensed'>
    
    <tr>
        <th>
          <%= link_to "Year", sort_path, data: {method: :post, remote: true, params: {results: @search.results, sort_order: 'year', sort_direction: @search.sort_direction}.to_param} %>
        </th>
        <th><%= link_to "Model", sort_path, data: {method: :post, remote: true, params: {results: @search.results, sort_order: 'model',sort_direction: @search.sort_direction}.to_param} %>
        </th>
        <th><%= link_to "Mileage", sort_path, data: {method: :post, remote: true, params: {results: @search.results, sort_order: 'mileage',sort_direction: @search.sort_direction}.to_param} %>
        </th>
        <th><%= link_to "Price", sort_path, data: {method: :post, remote: true, params: {results: @search.results, sort_order: 'price', sort_direction: @search.sort_direction}.to_param} %>
        </th>
        <th></th>       
    </tr>

    <% @search.results.each do |item| %>  
        <tr>
          <td><%= item[:year] %></td>
          <td><%= item[:model] %></td>
          <td><%= number_with_delimiter(item[:mileage]) %></td>
          <td><%= item[:price].to_i != 0 ? number_to_currency(item[:price], precision: 0) : "n/a" %></td>
          <td><a href=<%= item[:link] %> >See details</a></td>
        </tr>
      <% end %>
  </table>
</div>